<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name">Tên khóa học</label>
            <input name="name" class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="description">Mô tả khóa học</label>
            <input name="description" class="form-control" id="description" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="videoId">Video ID</label>
            <input name="videoId" class="form-control" id="video-id" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="level">Trình độ</label>
            <input name="level" class="form-control" id="level" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>